.card{
  width: 200px;
  border: 2px solid white;
  padding: 10px;
  color: white;
  border-radius: 10px;
  text-align: center;
  background-color: #333;
  
  
}

body{
    background-color: black;
}

.parent{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;   
    gap: 20px; 
}

.card button{
    padding: 10px 10px;
    background-color: white;
    color: black;
}

.card p{
    padding: 20px 0px;
}

.card img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;

}

